{
  "$schema": "https://github.com/fastfetch-cli/fastfetch/raw/dev/doc/json_schema.json",
  "logo": {
    "type": "small",
{{ if eq .chezmoi.osRelease.id "'gentoo'" }}
    "color": {
      "1": "#61538D"
    },
{{ end }}
    "padding": {
      "top": 1
    }
  },
  "display": {
{{ if eq .chezmoi.osRelease.id "'gentoo'" }}
    "color": {
      "keys": "#61538D"
    },
{{ end }}
    "separator": " "
  },
  "modules": [
    {
      "key": "{icon} distro   {#keys}",
      "type": "os"
    },
    {
      "key": " kernel   {#keys}",
      "type": "kernel"
    },
    {
      "key": "󰏗 packages {#keys}",
      "type": "packages"
    },
    {
      "key": " shell    {#keys}",
      "type": "shell"
    },
    {
      "key": "󰍛 cpu      {#keys}",
      "type": "cpu",
      "showPeCoreCount": true,
      "temp": true
    },
    {
      "key": "󰘚 memory   {#keys}",
      "type": "memory"
    },
    {
      "key": "󰍛 gpu      {#keys}",
      "type": "gpu",
      "temp": true
    },
//    {
//      "key": "󰅩 code     {#keys}",
//      "type": "command",
//      "text": "projfetch -s -u 5 ~/Code"
//    },
    {
      "key": "󰏘 colors   {#keys}",
      "type": "colors",
      "symbol": "circle"
    }
  ]
}
