* {
    font-family: Cascadia Mono NF, sans-serif;
    font-size: 13px;
    border-radius: 7px;
}

window#waybar {
    background: rgba(20, 20, 22, 0.3);
    border: 2px solid #141417;
    border-radius: 0;
    color: #CDD6F4;
}

window#waybar.empty #window {
    background: rgba(0, 0, 0, 0);
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    border: none;
    color: #585B70;
}

#workspaces button.active {
    color: #CDD6F4;
}

#clock,
#bluetooth,
#cpu,
#memory,
#disk,
#network,
#wireplumber,
#mpris,
#custom-weather,
#custom-syncthing,
#power-profiles-daemon,
{% if hostname == "gentoo-zephyrus" -%}
#battery,
{% endif -%}
#tray {
    color: #CDD6F4;
}

#custom-gentoo {
    color: #b4befe;
    font-size: 20px;
}

#window {
    margin: 4px 8px 4px 8px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #141417;
    border: 2px solid #272734;
}

#workspaces,
#custom-gentoo {
    margin: 4px 0 4px 8px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #141417;
    border: 2px solid #272734;
}

#clock,
#bluetooth,
#cpu,
#memory,
#disk,
#network,
#wireplumber,
#mpris,
#custom-weather,
#custom-syncthing,
#power-profiles-daemon,
{% if hostname == "gentoo-zephyrus" -%}
#battery,
{% endif -%}
#tray {
    margin: 4px 8px 4px 0;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #141417;
    border: 2px solid #272734;
}

#mpris {
    color: #94e2d5;
}

#custom-weather {
    color: #89b4fa;
}

#custom-syncthing {
    color: #f5c2e7;
}

#custom-syncthing.syncing {
    color: #f9e2af;
}

#custom-syncthing.error {
    color: #f38ba8;
}

#cpu {
    color: #b4befe;
}

#memory {
    color: #94e2d5;
}

#network {
    color: #cba6f7;
}

#network.disconnected {
    color: #585b70;
}

#bluetooth {
    color: #89b4fa;
}

#bluetooth.off {
    color: #585b70;
}

#wireplumber {
    color: #b4befe;
}

#wireplumber.muted {
    color: #585b70;
}

#power-profiles-daemon {
    color: #cba6f7;
}

#power-profiles-daemon.power-saver {
    color: #a6e3a1;
}

#power-profiles-daemon.performance {
    color: #f38ba8;
}

#clock {
    color: #f5e0dc;
}

{% if hostname == "gentoo-zephyrus" -%}
#battery {
    color: #94e2d5;
}

#battery.warning {
    color: #f9e2af;
}

#battery.critical {
    color: #f38ba8;
}
{% endif -%}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #f38ba8;
}

