[Desktop Entry]
Type=Service
MimeType=application/octet-stream
Actions=open-with-neovide

[Desktop Action open-with-neovide]
Name=Open with Neovide
Icon=neovide
Exec=PWD=%f /usr/bin/neovide %u

