[Desktop Entry]
Type=Service
MimeType=inode/directory
Actions=open-with-neovide

[Desktop Action open-with-neovide]
Name=Open with Neovide
Icon=neovide
Exec=/bin/bash -c "cd %u; /usr/bin/neovide %u"

