format = """
$username\
$hostname\
$directory\
$container\
$nix_shell\
$all\
"""

[character]
success_symbol = "[>](bold green)"
error_symbol = "[>](bold red)"
vicmd_symbol = "[<](bold green)"

[git_status]
ahead = ">"
behind = "<"
diverged = "<>"
renamed = "r"
deleted = "x"

[hostname]
disabled = false
ssh_symbol = "ssh:"
style = "purple"

[username]
disabled = false
style_user = "bold blue"

[docker_context]
symbol = "docker "
style = "blue"

[container]
format = 'in [$name]($style) '
symbol = ""
style = "bold blue"

[c]
disabled = true

[custom.cc]
command = 'if [ -z "${CC}" ]; then echo "$(basename $(readlink /usr/bin/cc)) v$(cc -dumpfullversion || cc -dumpversion)" ; else echo "${CC} v$($CC -dumpfullversion || $CC -dumpversion)"; fi'
detect_extensions = ["c", "cpp", "h", "hpp"]
detect_files = ["CMakeLists.txt"]
style = "bold 81"
format = "via [$output]($style) "

[cmake]
symbol = "cmake "

[dart]
symbol = "dart "

[dotnet]
symbol = ".NET "

[directory]
read_only = " ro"

[git_branch]
symbol = "git "

[golang]
symbol = "go "

[hg_branch]
symbol = "hg "

[java]
symbol = "java "

[lua]
symbol = "lua "

[nodejs]
symbol = "node "

[ocaml]
symbol = "ocaml "

[package]
disabled = true
symbol = "pkg "

[perl]
symbol = "perl "

[python]
symbol = "py "

[rust]
symbol = "rust "

[sudo]
symbol = "sudo "

[zig]
symbol = "zig "
